@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --bg-main: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --colour-blue: hsl(215, 51%, 70%);
  --colour-cyan: hsl(178, 100%, 50%);
  --colour-white: hsl(0, 0%, 100%);
  --line-colour: hsl(215, 32%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  font-family: "Outfit", sans-serif;
  color: var(--colour-blue);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: var(--bg-card);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 300px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.card__images {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.card__images img {
  width: 100%;
  display: block;
  border-radius: 0.8rem;
}

.card__images-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsla(178, 100%, 50%, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card__images:hover .card__images-layer {
  opacity: 1;
}

.card__title {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--colour-white);
  margin-bottom: 0.5rem;
}

.card__description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.card__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  border-bottom: 1px solid var(--line-colour);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.card__time-left,
.card__time-right {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--colour-blue);
}

.card__time-left span {
  color: var(--colour-cyan);
  font-weight: 600;
}

.card__creator {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.card__creator img {
  border-radius: 50%;
  border: 1px solid white;
}

.card__creator p {
  font-size: 0.8rem;
}

.card__creator a {
  color: var(--colour-white);
  text-decoration: none;
}

.attribution {
  margin-top: 1rem;
  font-size: 0.75rem;
  color: var(--colour-blue);
}

.attribution a {
  color: var(--colour-cyan);
  text-decoration: none;
}
